{% extends 'blog-base.html.twig' %}

{% block title %}{{ sitemeta.title }}{% endblock %}

{% block body %}
<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
			<div id="main">
				<div class="inner">

					<!-- Header -->
						<header id="header">
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
							</ul>
						</header>

					<!-- Section -->
						<section>
							<header class="major">
								<h2>Categories List</h2>
							</header>
							<div class="posts">
								{% for category in categories|slice(0, 6) %}
								<article>
									<a href="#" class="image"><img src="{{ asset(category.images) }}" alt="{{ category.title }}" /></a>
									<h3>{{ category.title }}</h3>
									<ul class="actions">
										<li><a href="{{ path('single_blog', {'slug' : 'dasdasd'}) }}" class="button">More</a></li>
									</ul>
								</article>
								{% endfor %}

							</div>
						</section>

				</div>
			</div>

		<!-- Sidebar -->
			{{ include('blog/sidebar.html.twig') }}

	</div>

{% endblock %}


{% block javascripts %}
	<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/js/skel.min.js') }}"></script>
	<script src="{{ asset('assets/js/util.js') }}"></script>
	<script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
